body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004d40;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #004d40;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.verse-number {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 2px solid #004d40;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    font-weight: bold;
    color: #004d40;
}

.surah-details {
    margin-top: 20px;
}

.audio-list {
    margin-top: 20px;
}

.audio-list a {
    display: block;
    margin: 5px 0;
    color: #004d40;
}

.tafsir-dropdown {
    margin-top: 20px;
}

.tafsir-content {
    margin-top: 10px;
    border: 1px solid #004d40;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
}
